
<div id="pins" class="transitions-enabled">
  <% @podcasts.each do |podcast| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(podcast.image.url), podcast %>
      <h2>
        <%= link_to podcast.title, podcast %>
      </h2>
      <p class="user">
        Submitted by
        <%= podcast.user.email %>
      </p>
    </div>
  <% end %>
</div>


