<div class="col-md-6 col-md-offset-3"></div>

<% @podcasts.each do |podcast| %>
<h2>
  <li><%= link_to image_tag(podcast.image.url(:medium)), podcast %></li>
  <li><%= link_to podcast.title, podcast %></li>
</h2>

<% end %>

